/* ── Reset ── */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display:flex;
  flex-direction:column;
  height:100vh;
  overflow:hidden;

  font-family:sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

/* ── Layout ── */

.layout{
  display:flex;
  flex:1;
  overflow:hidden;
}

.main-content{
  flex:1;

  padding:32px 40px;

  overflow-y:auto;

  background:
  linear-gradient(
      135deg,
      #182019,
      #112413,
      #061107
  );

  color:#e8f0fe;
}

/* ── Hero ── */

.hero{
  display:flex;

  gap:50px;

  align-items:flex-start;

  width:100%;
}

.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:1.8rem;

  margin-bottom:20px;

  background:
  linear-gradient(
      90deg,
      #169bb3,
      #2f5bed
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.hero-text p{

   color:#b0bccc;

  line-height:1.9;

  margin-bottom:20px;

  text-align:justify;
}

/* Images */

.hero-gallery{

  display:flex;

  flex-direction:column;

  gap:24px;

  margin-left:auto;
}

.hero-img{

  width:420px;

  border-radius:16px;

  overflow:hidden;

  box-shadow:
      0 8px 32px
      rgba(0,0,0,.35);
  margin-right:auto;
  margin-left:auto;
}

.hero-img img{

  width:100%;

  height:260px;

  object-fit:cover;

  display:flex;
}
.hero-img:hover { transform: scale(1.07); }
/* Button */

.btn-hero{

  display:inline-flex;

  padding:10px 24px;

  border:none;

  border-radius:999px;

  cursor:pointer;

  background:
  linear-gradient(
      90deg,
      #2f80ed,
      #56ccf2
  );

  color:white;
}
.btn-hero:hover { transform: scale(1.07); }
/* ── Sidebar ── */

.sidebar{
  width:70px;

  background:#198754;

  transition:.3s;
}

.sidebar.expanded{
  width:220px;
}

/* ── Mobile ── */

@media(max-width:768px){

.hero{

flex-direction:column;

align-items:center;

}

.main-content{

padding:20px;

}

.hero-text{

width:100%;

}

.hero-text h1{

text-align:center;

font-size:1.4rem;

}

.hero-gallery{

margin-left:0;

width:100%;

align-items:center;

}

.hero-img{

width:100%;

max-width:350px;

}

.hero-img img{

height:auto;

}

.btn-hero{

display:flex;

margin:auto;

}

}