.cards-wrap {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 24px;
}
/* Tablet screens (≤ 768px): 2 cards per row */
@media (max-width: 768px) {
  .cards-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Phone screens (≤ 480px): 1 card per row */
@media (max-width: 480px) {
  .cards-wrap {
    grid-template-columns: 1fr;
  }

  .card-label {
    font-size: 13px; /* shrink text */
  }

  .card-value {
    font-size: 22px; /* shrink numbers */
  }

  .card-icon {
    font-size: 16px; /* smaller icons */
  }
}

.stat-card1 {
  background: #084d08;
  border: 0.5px solid #1e3a5f;
  border-radius: 14px;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;
}
.stat-card2{
    background: #1e5049;
  border: 0.5px solid #1e3a5f;
  border-radius: 14px;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;  
}
.stat-card3{
    background: #501e48;
  border: 0.5px solid #1e3a5f;
  border-radius: 14px;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;  
}
.stat-card4{
    background: #496123;
  border: 0.5px solid #1e3a5f;
  border-radius: 14px;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;  
}
.card-label {
  font-size: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}

.card-value {
  font-size: 28px;
  font-weight: 600;
  color: #e8f0fe;
  line-height: 1;
}

.card-sub { font-size: 12px; font-weight: 500; }
.sub-green { color: #ffffff; }
.sub-blue  { color: #ffffff; }
.sub-red   { color: #ffffff; }
.sub-gray  { color: #ffffff; }

.card-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  opacity: 1.0;
}
